name: Renovate config linter

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
