name: Test

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

env:
  PYTHON_VENV_ROOT: ${{ github.workspace }}/src/python-venv

jobs:
  aqua:
    name: Check aqua
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1

      - name: aqua install
        working-directory: aqua
        run: aqua i -l

  install_script:
    name: Check install script
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run setup script
        run: |
          python3 -m venv ${PYTHON_VENV_ROOT}
          source ${PYTHON_VENV_ROOT}/bin/activate
          ./setup.sh

  zinit:
    name: Check zinit
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install zsh
        run: |
          brew install zsh --ignore-dependencies
          brew install pcre ncurses

      - name: Setup zinit
        shell: zsh {0}
        run: |
          python3 -m venv ${PYTHON_VENV_ROOT}
          source ${PYTHON_VENV_ROOT}/bin/activate
          ./setup.sh
          sh -c "$(curl -fsSL https://git.io/zinit-install)"
          source ~/.zshrc
          zinit self-update

  status_check:
    name: status check
    needs:
      - aqua
      - install_script
      - zinit
    runs-on: ubuntu-latest

    steps:
      - run: exit 1
        if: failure()
